@tailwind base;
@tailwind components;
@tailwind utilities;

.bgbody {
  background: url("../src/assets/images/home.jpg");
  min-height: 100vh;
  background-size: 100%;
  background-position: center;
}

.container {
  width: 944px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2 auto;
}

.glass {
  background: linear-gradient(135deg, rgba(212, 212, 212, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 48px;
  border: 1px solid #fff;
  background: rgba(212, 212, 212, 0.1);
  backdrop-filter: blur(17px);
}

.glassback{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 47rem;
  height: 28.25rem;
  flex-shrink: 0;
  border-radius: 24px;
  border: 1px solid #FFF;
  background: rgba(212, 212, 212, 0.10);
  backdrop-filter: blur(17px);
}

.glassback2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 35rem;
  height: 25.75rem;
  flex-shrink: 0;
  border-radius: 24px;
  border: 1px solid #FFF;
  background: rgba(212, 212, 212, 0.10);
  backdrop-filter: blur(17px);
}

.inputbox{
  width: 23rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid #FFF;
  background: rgba(212, 212, 212, 0.10);
  backdrop-filter: blur(17px);
  padding: 0px 26px;
  outline: none;
  color: white;
}